@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
}

html, body {
  font-family: sans-serif;
}

/****************************************************/
/*styles pour le conteneur                             */
/****************************************************/
.conteneur{
	margin: 0px;
	padding: 0px;
	width: 100%
	font-size: 0px;
}

/****************************************************/
/*styles pour le header                             */
/****************************************************/
header {
  height: 210px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

/****************************************************/
/*styles pour la zone centrale de la page           */
/****************************************************/
main {
	margin: 0px;
	padding: 0px;
	min-height: 600px;
	background-color: #f0f0f0;
 	font-size: 0px;
 	margin-top: 200px;
}

/****************************************************/
/*styles pour le footer                             */
/****************************************************/
footer {
	background-color: skyblue;
	height: 120px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

footer p{
	padding: 15px;
	padding-top: 25px;
}
