
@charset "ISO-8859-1";
*{
	margin:0%;
	padding:0%;
}

html, body {
  font-family: sans-serif;
}

/****************************************************/
/*styles pour le conteneur                             */
/****************************************************/
.conteneur{
	margin: 0px;
	padding: 0px;
	width: 100%;


}

/****************************************************/
/*styles pour le header                             */
/****************************************************/
header {
  height: 210px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

/****************************************************/
/*styles pour la zone centrale de la page           */
/****************************************************/
main {
	margin: 0px;
	padding: 0px;
	min-height: 600px;
	background-color: #f0f0f0;
 	font-size: 15px;
 	margin-top: 200px;
	height: 2000px;

}

/****************************************************/
/*styles pour le footer                             */
/****************************************************/
footer {
	background-color: green;
	height: 120px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

footer p{
	padding: 15px;
	padding-top: 25px;
}
.logo {
	margin-top: -38px;
	width: 10px;
	height: 20px;
}


/****************************************************/
/*styles pour le menu principal                     */
/****************************************************/
nav.menuPrincipal{
	background-color: #FAFAFA;
	font-size: 0px;
	text-align: right;
	height: 75px;
	padding: 0px;
	margin: 0px;

}

nav.menuPrincipal ul {
	display: inline-block;
	list-style: none;
	margin-top: 5px;
}


nav.menuPrincipal ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
}


nav.menuPrincipal ul li a {
	display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}

nav.menuPrincipal ul li a:hover {
  color: grey;
}

nav.menuPrincipal ul li .actif {
	display: table-cell;
  	background-color: ivory;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}
.recherche_p{
	margin-top: 30%;
	margin-left:40%;
	height: 100px;
	z-index: 10;
	position: relative;
}
#search {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #dddddd;
  padding: 5px 10px 5px 10px;
  width: 300px;
	margin-top: -300px;
  font-size: 12px;
	margin-left: -110px;
  letter-spacing: 1px;
	font-style: italic;
	color: grey;
}
#search-btn {
  background-color: #FAFAFA;
  border-style: solid;
  border-width: 1px;
  border-color: #E8B960;
  padding: 5px 10px 5px 10px;
	margin-left: 230px;

  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: BLACK;
}
