
@charset "ISO-8859-1";
*{
	margin:0%;
	padding:0%;
}

html, body {
  font-family: sans-serif;
}

/****************************************************/
/*styles pour le conteneur                             */
/****************************************************/
.conteneur{
	margin: 0px;
	padding: 0px;
	width: 100%;


}

/****************************************************/
/*styles pour le header                             */
/****************************************************/
header {
  height: 210px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

/****************************************************/
/*styles pour la zone centrale de la page           */
/****************************************************/
main {
	margin-top: 0px;
	padding-top: 0px;
	min-height: 600px;
	background-color: #f0f0f0;
 	font-size: 10px;
 	margin-top:79px;

}
/***************************Gauche menus***********************************/
.gauche {
	display: inline-block;
	background-color: #fff0f0;
	width: 25%;
	vertical-align: top;
	font-size: 15px;

}

.sidenav{
	position: fixed;
 	margin-top: 20px;
 	left: 0px;
}

.sidenav .titreListe{
	color: black;
	padding: 30px;
	font-weight: bold;
 	font-size: 22px;
}

.sidenav ul{
  list-style: none;
  padding-left: 40px;
  font-size: 16px;
  line-height: 35px;
}

.sidenav li a {
  text-decoration: none;
  color: grey;
}

.sidenav li a:hover {
  color: blue;
}

/**********************************************************************/
/*styles pour la zone droite de la zone centrale de la page           */
/**********************************************************************/
.droite {
	display: inline-block;
	width: 75%;
	font-size: 15px;
	vertical-align: top;
}

/****************************************************/
/*styles pour le footer                             */
/****************************************************/
footer {
	background-color: green;
	height: 120px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

footer p{
	padding: 15px;
	padding-top: 25px;
}
.logo {
	margin-top: -38px;
	width: 10px;
	height: 20px;
}


/****************************************************/
/*styles pour le menu principal                     */
/****************************************************/
nav.menuPrincipal{
	background-color: #FAFAFA;
	font-size: 0px;
	text-align: right;
	height: 75px;
	padding: 0px;
	margin: 0px;

}

nav.menuPrincipal ul {
	display: inline-block;
	list-style: none;
	margin-top: 5px;
}


nav.menuPrincipal ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
}


nav.menuPrincipal ul li a {
	display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}

nav.menuPrincipal ul li a:hover {
  color: grey;
}

nav.menuPrincipal ul li .actif {
	display: table-cell;
  	background-color: ivory;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}

#separateur_menuP{
	width: 100%;
	border: none;
	background-color: orange;
	margin-top: 35px;
	height: 7px;
}
/* -----------------TXT accueil------------------------------------------*/
#txtAccueil{
	color: white;
	font-size: 20px;
	text-align: center;
	z-index: 10;
	position: relative;
	margin-top: 10%;
	font-family: "Helvetica Neue",sans-serif;
}
#txtAccueil p{
	font-size: 32px;

}
/* -----------------Recherche barre------------------------------------------*/
.recherche_p{
	margin-top: 10%;
	margin-left:38%;
	height: 150px;
	z-index: 10;


}
#search {
  background-color: #ffffff;
  border-style: solid;
  border-width: 3px;
  border-color: orange;
  width: 300px;
	height: 30px;
	padding: 5px 10px 5px 10px;
  font-size: 12px;
  letter-spacing: 1px;
	font-style: italic;
	color: grey;
}
#search-btn {
  background-color: #FAFAFA;
  border-style: solid;
  border-width: 3px;
  border-color: orange;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: BLACK;

}
#search-btn:hover {
  background-color: #F5ECCE;
  border-style: solid;
  border-width: 3px;
  border-color: orange;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: BLACK;
}
.searchthis {

 	border:2px solid black;
	float:left;
}

.searchthis tr td table tr td{
	width: 300px;
	height: 50px;
	float:left;
 	border:2px solid black;
	position: relative;

}

/****************************************************/
/*styles pour le formulaire de resto            */
/****************************************************/

.restothis{
	margin-left: 40px;
	margin-top: 50px;
	margin-right: 5px;
	border-color: orange;
	border-style: solid;
	border-width: 3px;
	height: 250px;
}
.restothis #plat-btn{
	margin-left: 188px;
	margin-top: 200px;
	background-color: #F5ECCE;
	border-style: solid;
	border-width: 3px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
}
.restothis .nomResto{

	font-size: 22px;
	width: auto;

}
.restothis .adrResto{

	color :red;

}

.restothis tr td table tr td{
	width: 313px;
	height: 240px;

	float:left;
	overflow:auto;
	display:inline;

}
/****************************************************/
/*styles pour le formulaire de plat          */
/****************************************************/

.platthis{
		margin-left: 40px;
		margin-top: 50px;
		margin-right: 5px;
		border-color: orange;
		border-style: solid;
		border-width: 3px;
		height: 250px;
	}
	.platthis #ajoutCommande-btn{
		margin-left: 188px;
		margin-top: 200px;
		background-color: #F5ECCE;
		border-style: solid;
		border-width: 3px;
		border-color: orange;
		font-size: 16px;
		letter-spacing: 2px;
		color: BLACK;
	}
	.platthis .nomPlat{

		font-size: 22px;
		width: auto;

	}
	.platthis tr td table tr td{
		width: 313px;
		height: 240px;

		float:left;
		overflow:auto;
		display:inline;
	}


	/****************************************************/
	/*styles pour le formulaire d'inscription           */
	/****************************************************/

.inscription{
	margin-top: 8%;
	margin-left:35%;
	height: 100px;
	z-index: 10;
	display: inline-block;
}

.inscription input{
	background-color: #FAFAFA;
	border-style: solid;
	margin-top: 10px;
	margin-left: 20px;
	border-width: 3px;
	border-color: orange;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	border-radius: 10px;
	width: 400px;
	height: 40px;
	text-transform: uppercase;
}

.inscription input[type='submit']:hover{
	background-color: #F5ECCE;
	border-style: solid;
	border-width: 3px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
}


/****************************************************/
/*styles pour le formulaire de connexion            */
/****************************************************/

.contentConnexion{
	margin-top: 10%;
	margin-left:35%;
	height: 100px;
	z-index: 10;
	display: inline-block;
}

.contentConnexion .btnIdent{
	margin-top: 20px;
}

.contentConnexion .btn input{
	background-color: #FAFAFA;
  border-style: solid;
	margin-top: 10px;
	margin-left: 20px;
  border-width: 3px;
  border-color: orange;
	text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  color: BLACK;
	border-radius: 10px;
	width: 400px;
	height: 40px;
}

.contentConnexion .btn input[type='submit']{
		width: 193px;
		text-transform: uppercase;
		margin-bottom: 80px;
}

.contentConnexion .btn #deconexion{
	width: 400px;
			text-transform: uppercase;
}
.contentConnexion .btn #inscription{
	width: 400px;
			text-transform: uppercase;
}

.contentConnexion .btn a{
	font-size: 10px;
	text-transform: uppercase;
	background-color: #F5ECCE;
	border-style: solid;
	border-width: 3px;
	border-color: orange;
	letter-spacing: 2px;
	color: BLACK;
	margin: 60px;
}


.contentConnexion .btn input[type='reset']{
		width: 193px;
		text-transform: uppercase;
}

.contentConnexion .btn input[type='submit']:hover{
	background-color: #F5ECCE;
	border-style: solid;
	border-width: 3px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
}

.contentConnexion .btnIdent input[type='reset']:hover{
	background-color: #F5ECCE;
	border-style: solid;
	border-width: 3px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
}
