@charset "ISO-8859-1";
*{
	margin:0%;
	padding:0%;
}

html, body {
  font-family: sans-serif;
}

/****************************************************/
/*styles pour le conteneur                             */
/****************************************************/
.conteneur{
	margin: 0px;
	padding: 0px;
	width: 100%
	font-size: 0px;

}

/****************************************************/
/*styles pour le header                             */
/****************************************************/
header {
  height: 210px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

/****************************************************/
/*styles pour la zone centrale de la page           */
/****************************************************/
main {
	margin: 0px;
	padding: 0px;
	min-height: 600px;
	background-color: #f0f0f0;
 	font-size: 15px;
 	margin-top: -150px;
	height: 2000px;

}
#accueil
{
	margin: 0px;
	padding: 0px;

 	font-size: 15px;
 	margin-top: -150px;
	background-image: url("../image/background.jpg");

	background-size: 100%;
	opacity: 0.70;
	height: 832px;
	overflow: hidden;


}
/****************************************************/
/*styles pour le footer                             */
/****************************************************/
footer {
	background-color: green;
	height: 120px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

footer p{
	padding: 15px;
	padding-top: 25px;
}
.logo {
	margin-top: -35px;
	width: 10px;
	height: 20px;
}


/****************************************************/
/*styles pour le menu principal                     */
/****************************************************/
nav.menuPrincipal{
	background-color: white;
	font-size: 0px;
	text-align: center;
	height: 50px;
	padding: 0px;
	margin: 0px;
}

nav.menuPrincipal ul {
	display: inline-block;
	list-style: none;
}


nav.menuPrincipal ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
}


nav.menuPrincipal ul li a {
	display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}

nav.menuPrincipal ul li a:hover {
  color: grey;
}

nav.menuPrincipal ul li .actif {
	display: table-cell;
  	background-color: ivory;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}
