
@charset "ISO-8859-1";
*{
	margin:0%;
	padding:0%;
}

@font-face {
   font-family: 'Snell Roundhand';
	  src: url('SnellRoundhand-Bold.ttf') format('truetype');
 }

html, body {
  font-family: sans-serif;

}

/****************************************************/
/*styles pour le conteneur                             */
/****************************************************/
.conteneur{
	margin: 0px;
	padding: 0px;
	width: 100%;

}

/****************************************************/
/*styles pour le header                             */
/****************************************************/
header {
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.formLogo{
	height: 90px;
	position: fixed;
	width: 100px;
	top: 0;
	left: 0;
	z-index: 10;
}

#logo {
	margin-top: 10px;
	width:90px;
	margin-left:50px;

}
#separateur_menuP{
	width: 100%;
	border: none;
	background-color: orange;
	margin-top: 20px;
	height: 7px;
}
/****************************************************/
/*styles pour la zone centrale de la page           */
/****************************************************/
main {
	margin-top: 0px;
	padding-top: 0px;
	min-height: 600px;
 	font-size: 0px;
 	margin-top:79px;
}
/***************************Gauche menus***********************************/
.gauche {
	display: inline-block;
	background-color: #fff0f0;
	width: 25%;
	vertical-align: top;
	font-size: 15px;

}

.sidenav{
	position: fixed;
 	margin-top: 20px;
 	left: 0px;
}

.sidenav .titreListe{
	color: black;
	padding: 30px;
	font-weight: bold;
 	font-size: 22px;
}

.sidenav ul{
  list-style: none;
  padding-left: 40px;
  font-size: 16px;
  line-height: 35px;
}

.sidenav li a {
  text-decoration: none;
  color: grey;
}

.sidenav li a:hover {
  color: blue;
}

/**********************************************************************/
/*styles pour la zone droite de la zone centrale de la page           */
/**********************************************************************/
.droite {
	display: inline-block;
	width: 75%;
	font-size: 15px;
	vertical-align: top;
}
.droitePlat {
	display: inline-block;
	width: 53%;
	font-size: 15px;
	vertical-align: top;
}


/****************************************************/
/*styles pour le footer                             */
/****************************************************/
footer {
	background-color: green;
	height: 120px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

footer p{
	padding: 15px;
	padding-top: 25px;
}


/****************************************************/
/*styles pour le menu principal                     */
/****************************************************/
nav.menuPrincipal{
	background-color: #FAFAFA;
	font-size: 0px;
	text-align: right;
	height: 75px;
	padding: 0px;


}

nav.menuPrincipal ul {
	display: inline-block;
	list-style: none;
	margin-top:5px;


}


nav.menuPrincipal ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
}


nav.menuPrincipal ul li a {
	display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}

nav.menuPrincipal ul li a:hover {
  color: grey;
	transition:0.5s;
}

nav.menuPrincipal ul li .actif {
		display: table-cell;
  	background-color: ivory;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}


/****************************************************/
/*TXT accueil*/
/****************************************************/

#txtAccueil{
	color: white;
	font-size: 20px;
	text-align: center;
	z-index: 10;
	position: relative;
	margin-top: 10%;
	font-family: "Helvetica Neue",sans-serif;
}
#txtAccueil p{
	font-size: 32px;

}
/****************************************************/
/*Recherche barre*/
/****************************************************/

.recherche_p{
	margin-top: 7%;
	margin-left:33%;
	height: 50px;
	z-index: 10;
}
#search {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: orange;
  width: 300px;
	height: 30px;
	padding: 5px 10px 5px 10px;
  font-size: 12px;
  letter-spacing: 1px;
	font-style: italic;
	color: grey;
}
#search-btn {
  background-color: #FAFAFA;
  border-style: solid;
  border-width: 2px;
  border-color: orange;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: BLACK;
	height: 46px;

}
#search-btn:hover {
  background-color: #F4FA58;
  border-style: solid;
  border-width: 2px;
  border-color: orange;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: BLACK;
	height: 46px;
	transition:0.5s;
}
.searchthis {
 	border:2px solid black;
	float:left;
}

.searchthis tr td table tr td{
	width: 300px;
	height: 50px;
	position: relative;
	padding-right: 15px;

}

/****************************************************/
/*styles pour le formulaire de resto            */
/****************************************************/

.restothis{
	margin-left: 40px;
	margin-top: 50px;
	margin-right: 5px;
	height: 320px;
	width: 310px;
	margin-bottom:  -30px;
	display: inline-block;
}
.restothis #plat-btn{
	margin-left: 185px;
	margin-top: 195px;
	background-color: #F5ECCE;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
}
.restothis #plat-btn:hover{
	margin-left: 185px;
	margin-top: 195px;
	background-color: #F4FA58;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
	transition:0.5s;
}

.restothis .nomResto{

	font-size: 22px;
	width: auto;

}
.restothis .adrResto{

}

.restothis tr td table tr td{
	width: 313px;
	height: 240px;
	float:left;
	overflow:auto;
	display:inline;

}
.imgResto{
	max-width: 100%;
	height: 235px;
	border-radius: 7px;
}
.menuTypeResto{
	margin-top: 20px;
}
.menuTypeResto li:hover a{
	color: orange;
	transition:0.5s;
}

#erreurVille{
	margin-top: 150px;
	margin-left: 150px;
	font-size: 20px;
	color :orange;
}
/****************************************************/
/*styles pour le formulaire de plat          */
/****************************************************/
#baniereResto{
	padding-top: 50px;
	height: 400px;
	width: 100%;
	background-image: url(../image/banniereResto.jpeg);
	background-size: 100% 400px;
	background-repeat:no-repeat;

}
.baniereRestothis{
		background-color: white;
		color: black;
		font-size: 50px;
		text-align: center;
		height: 250px;
		margin-left:  70px;
		width: 340px;
		font-family: Snell Roundhand , cursive;
		padding: 2% 2% 2% 2%;
		border-radius: 10px;
	}

.typeRestoB{
	font-size: 30px;
	color: grey;
}

.timeRestoB{
	font-size: 30px;
	color: grey;
}

#typePlat{
	margin-top: -50px;
	height: 50px;
	border-bottom:  1px solid grey;
}

.titreListe{
	padding-top: 10px;
	color: orange;
	font-weight: bold;
 	font-size: 22px;
	margin-left: 15px;
}
#typePlat ul{
	margin-top: -30px;
  font-size: 16px;
  line-height: 35px;
	margin-left: 130px;
}
#typePlat li  {
  display:inline;
	margin-right: 5%;
}
#typePlat li a {
  text-decoration: none;
  color: grey;
}

#typePlat li a:hover {
  color: orange;
}





.platthis{
	margin-top: 70px;
	margin-right: 5%;
	margin-left: 15%;
	border-bottom: 2px solid orange;
	border-radius: 10px;
	height: 250px;
	width: 800px;
	margin-bottom:  -30px;
}
.platthis .ajoutCommande-btn{
	margin-left: 25%;
	margin-top: 75%;
	background-color: #F5ECCE;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
}
.platthis .ajoutCommande-btn:hover{
	margin-left: 25%;
	margin-top: 75%;
	background-color: #F4FA58;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
	transition:0.5s;
}

.platthis tr td table tr td{
	width: 260px;
	height: 240px;
	padding-top: 3px;
	float:left;
	overflow:auto;
	display:inline;
}
.imgPlat{
	max-width: 100%;
	height: 235px;
	border-radius: 7px;
}
.platthis .nomPlat{

	font-size: 22px;
	width: auto;
	padding-left: 10px;

}
.platthis .lblPrixPlat{
	width: auto;
	padding-left: 10px;

}
.platthis .lblDescripPlat{
	width: auto;
	padding-left: 10px;
}
.menuTypePlat{
	margin-top: 20px;
}
.menuTypePlat li:hover a{
	color: orange;
	transition:0.5s;
}

	/****************************************************/
	/*styles pour le formulaire du panier           */
	/****************************************************/
#panier{
	display: inline-block;
	width: 300px;
	font-size: 15px;
	margin-left: 100px;
	margin-top: 50px;
	height: inherit;
	float: right;
	margin-right: 2%;
}
.panierthis{
	padding: 2% 2% 2% 2%;
	border: 2px solid orange;
}
.lblPanier{
	font-size: 20px;
	text-decoration: bold;
	margin-left: 80px;
}
.panierthis .nomP{
	margin-left: 3px;
	margin-right: 25px;
}
.panierthis .nbPlat{
	margin-right: 25px;
}
.panierthis #supprPlat{
	width: 15px;
	margin-left: 10px;
	background-color: #FE2E2E;
	border: 1px solid black;
	text-align: center;
	border-radius: 6px;
}
.panierthis .lbltotal{
	font-weight: bold;
	margin-left: 170px;
}
.panierthis .prixTotal{
	font-weight: bold;
}

.panierthis #validerCommande{
	background-color: #F5ECCE;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 20px;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
}
.panierthis #validerCommande:hover{
	background-color: #F4FA58;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 20px;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
	transition:0.5s;
}

.panierthis .lblVide{
	color : grey;

}

.panierthis .lblPourboir{
	font-weight: bold;
}
.panierthis #btnMoinsPourboir{
	border: 1px solid orange;
	background-color: white;
	width: 18px;
	border-radius: 100%;
	margin-left: 23px;
}
.panierthis #btnPlusPourboir{
	border: 1px solid orange;
	background-color: white;
	width: 18px;
	border-radius: 100%;
	margin-right: 7px;
}
.panierthis #btnMoinsPourboir:hover{
	border: 1px solid orange;
	background-color: #F4FA58;
	width: 18px;
	border-radius: 100%;
	margin-left: 23px;
	transition:0.5s;
}
.panierthis #btnPlusPourboir:hover{
	border: 1px solid orange;
	background-color: #F4FA58;
	width: 18px;
	border-radius: 100%;
	margin-right: 7px;
	transition:0.5s;
}
	/****************************************************/
	/*styles pour le formulaire de reglement           */
	/****************************************************/
.reglementthis{
	margin-top: 200px;
	margin-left: 30%;
	border: 2px solid orange;
	width:  600px;
	padding: 10px 30px 10px 30px;
}
.reglementthis .lblModePaiement{
	color : orange;
	font-size: 25px;
	font-weight: bold;
}

.reglementthis #imgEspece{
	width: 40px;
	margin-top: 5px;
	margin-right: 30px;
}

.reglementthis #imgCheque{
	width: 60px;
	margin-top: 5px;
	margin-right: 30px;
}

.reglementthis #imgCarteBC{
	width: 30px;
	margin-top: 5px;
	margin-right: 30px;
}
#unJour {
	width: 40px;
}
#unMois {
	width: 80px;
}
#unAnnee {
	width: 40px;
}
#unHeure {
	width: 25px;
}
#unMinute {
	width: 25px;
}
.reglementthis #suivantReglement{
	background-color: #F5ECCE;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	margin-bottom: -10px;
	margin-top: 20px;
	margin-left: 540px;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
}
.reglementthis #suivantReglement:hover{
	background-color: #F4FA58;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	margin-bottom: -10px;
	margin-top: 20px;
	margin-left: 540px;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
	transition:0.5s;
}

/****************************************************/
/*styles pour le formulaire de commande          */
/****************************************************/
#commande{
	margin-top: 25%;
	margin-left: 45%;

}
.commandethis{
margin-top: -200px;
margin-left: -30%;
border: 2px solid orange;
width:  600px;
padding: 10px 30px 30px 30px;
}
.commandethis .lblcommande{
	color : orange;
	font-size: 35px;
	font-weight: bold;
}
.commandethis .lblville{
	color : orange;
	font-size: 16px;
	font-weight: bold;
	margin-left: 50px;
}
.commandethis .lblresto{
	color : orange;
	font-size: 16px;
	font-weight: bold;
	margin-left: 50px;
}
.commandethis .lesPlats{
	color : orange;
	font-size: 16px;
	font-weight: bold;
	margin-left: 50px;
}
.commandethis .lblTypeReglement{
	color : orange;
	font-size: 16px;
	font-weight: bold;
	margin-left: 50px;
}
.commandethis .lblDateLivraison{
	color : orange;
	font-size: 16px;
	font-weight: bold;
	margin-left: 50px;
}
.commandethis .lblLieuLivraison{
	color : orange;
	font-size: 16px;
	font-weight: bold;
	margin-left: 50px;
}
.commandethis .lblmontant{
	color : orange;
	font-size: 20px;
	font-weight: bold;
	margin-left: 450px;
}
.commandethis .lblPourboirC{
	color : orange;
	font-size: 20px;
	font-weight: bold;
	margin-left: 50px;
}
.commandethis .nomPlatCommande{
	font-size: 16px;
	margin-left: 75px;
}
.commandethis .qtPlatCommande{
	font-size: 16px;
	margin-left: 15px;
}
.commandethis .prixPlatCommande{
	font-size: 16px;
	margin-left: 15px;
}

.commandethis #confirmCommande{
	background-color: #F5ECCE;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	margin-bottom: -10px;
	margin-top: 20px;
	margin-left: 390px;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
}
.commandethis #confirmCommande:hover{
	background-color: #F4FA58;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	margin-bottom: -10px;
	margin-top: 20px;
	margin-left: 390px;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
	transition:0.5s;
}

#fin{
	margin-top: -100px;
	margin-left: -600px;
	font-size: 20px;
	text-align: center;
	color:orange;
	font-weight: bold;
}

/****************************************************/
/*styles pour le formulaire d'inscription           */
/****************************************************/

.inscription{
	margin-top: 8%;
	margin-left:35%;
	height: 100px;
	z-index: 10;
	display: inline-block;
}

.inscription input{
	background-color: #FAFAFA;
	border-style: solid;
	margin-top: 10px;
	margin-left: 20px;
	border-width: 2px;
	border-color: orange;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	border-radius: 10px;
	width: 400px;
	height: 40px;
}

.inscription input[type='submit']:hover{
	background-color: #F4FA58;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	transition:0.5s;
}


/****************************************************/
/*styles pour le formulaire de connexion            */
/****************************************************/

.contentConnexion{
	margin-top: 10%;
	margin-left:35%;
	height: 100px;
	z-index: 10;
	display: inline-block;
}

.contentConnexion .btnIdent{
	margin-top: 20px;
}

.contentConnexion .btn input{
	background-color: #FAFAFA;
  border-style: solid;
	margin-top: 10px;
	margin-left: 20px;
  border-width: 2px;
  border-color: orange;
	text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  color: BLACK;
	border-radius: 10px;
	width: 400px;
	height: 40px;
}

.contentConnexion .btn input[type='submit']{
		width: 193px;
		text-transform: uppercase;
		margin-bottom: 80px;
}

.contentConnexion .btn #deconexion{
	width: 400px;
			text-transform: uppercase;
}
.contentConnexion .btn #inscription{
	width: 400px;
			text-transform: uppercase;
}

.contentConnexion .btn a{
	font-size: 10px;
	text-transform: uppercase;
	background-color: #F5ECCE;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	letter-spacing: 2px;
	color: BLACK;
	margin: 60px;
}


.contentConnexion .btn input[type='reset']{
		width: 193px;
		text-transform: uppercase;
}

.contentConnexion .btn input[type='submit']:hover{
	background-color: #F4FA58;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	transition:0.5s;
}

.contentConnexion .btnIdent input[type='reset']:hover{
	background-color: #F4FA58;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	transition:0.5s;
}
/****************************************************/
/*styles pour le formulaire de restauration            */
/****************************************************/
.restaurateurthis{
margin-top: 200px;
margin-left: 30%;
border: 2px solid orange;
width:  600px;
padding: 10px 30px 30px 30px;
}

.sepAjoutPlat{
	width: 100%;
}

















/* ========================================================================== */
/*.note {
 	border:2px solid orange;
	border-radius: 15px;
	float:left;
	background-color: white;
}

.noter{
	background-color: white;
	display: inline-block;
	color: black;
	height: 70%;
	width: 50%;
	font-size: 15px;
	text-align: left;
	vertical-align: middle;
	border-radius: 5px;
}

.note tr td table tr td{
	width: 300px;
	height: 50px;
	position: relative;
	padding-right: 15px;

}*/

.styleNote{
	z-index: 10;
	position: fixed;
	background-color: white;
	margin-left: 35%;
	margin-top: 10%;
	/*display: inline-block;*/
	color: black;
	width: 30%;
	border: 3px orange solid;
	font-size: 15px;
	text-align: left;
	/*vertical-align: center;*/
	/*margin: auto;*/
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 5px;
}

/****************************************************/
/*styles pour le menu du profil                     */
/****************************************************/

nav.menuProfil{
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	font-size: 16px;
	letter-spacing: 2px;
	height: 75px;
	margin-top: 20%;
	margin-left: 40%;
	margin-right: 10%;
}

nav.menuProfil ul {
	display: inline-block;
	list-style: none;
	margin-top:5px;
}

nav.menuProfil ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
}

nav.menuProfil ul li a {
	display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}

nav.menuProfil ul li a:hover {
  color: grey;
}

nav.menuProfil ul li .actif {
	display: table-cell;
  	background-color: ivory;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}
